html/*.log
html/wp-config.php
html/wp-content/advanced-cache.php
html/wp-content/backup-db/
html/wp-content/backups/
html/wp-content/blogs.dir/
html/wp-content/cache/
html/wp-content/upgrade/
html/wp-content/uploads/
html/wp-content/wp-cache-config.php
html/wp-content/plugins/hello.php

html/.htaccess
html/license.txt
html/readme.html
html/sitemap.xml
html/sitemap.xml.gz

.data
.DS_Store
.vscode
